* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font: 18px 'Open Sans', Arial, sans-serif;
}


.section:focus {
  outline: none;
}

.header {
  min-height: 100vh;
  padding-top:  80px;
  padding-bottom: 250px;
  background: url('pobrane.jpg') center/cover no-repeat;
  text-shadow: 0 0 15px rgba (0, 0, 0, .3);
  text-align: center;
}


/*tytul*/
.header h1{
  color: white;
  font-size: 85px;
  line-height: 0.9;
  font-style: italic;
  font-weight: bold;
}

/*by elkolorado*/
.header h2 {
    color: white;
    font-size: 20px;
    line-height: 3.5;
    font-style: italic;
    font-weight: bold;
    text-shadow: text-align: right;
    align-items: right;
    margin-bottom: 10px;
}
/*.header p {
    color: #2f2f2f;
    font-size: 20px;
    font-style: italic;
    font-style: oblique;
    line-height: 2;
    margin-bottom: 30px;
}*/

/*button*/
.header button {
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 20px;
    background: transparent;
    position: fixed;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    }

.button:hover {
    background: black;
    color: white;
    outline:0;
}

input::placeholder { color: white; }
input:focus::placeholder { color: black; }

input {
  font-size: 18px;
  text-align: center;
  text-decoration: none;

  border: white 1px solid;
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 20px;
  background: black;
  color: white;
}

input:focus {
  outline:0;
  background: black;
  color: white;
}

.section button.button2, button.button2:visited {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: gray 1px solid;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 0
}
.section button.button2:hover {
    background: black;
    color: white;
}

.section button.button3, button.button3:visited {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: gray 1px solid;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 0
    /* background: black; */

}
.section button.button3:hover {
    background: black;
    color: white;
        border: gray 1px solid;
}

td {
    height: 10px;
    vertical-align: bottom;
}

/*navbar*/
.nav:focus{
  outline: none;
}
.nav {
    position: sticky;
    top: 0;
    line-height: 30px;
    background: black;
    z-index: 3;
}

  .nav ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
  }

    .nav li {
        width: 100%;
    }

      /*nav przyciski*/
      .nav button {
          display: block;
          text-align: center;
          color: white;
          text-decoration: none;
      }

        .nav a:hover, .nav a:focus {
          color: black;
          background: #f3f3f3;

        }

/*box*/
.container  {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}


.section {
  padding: 30px 0;
  text-align: justify;

}

.section:nth-of-type(n+1) {
  background: #f3f3f3;
  min-width: none;
}

.section *:not(first-child) {
  margin-top: 15px;
}

.parallax-window {
  min-height: auto;
  background: transparent;

}

.info {
  z-index: 2;
  position: relative;
}
p.info2 {
  z-index: 2;
  position: relative;
  text-align: justify;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.footer {
  padding: 15px;
  background: black;
  color: white;
}
